.main__forecast__weekly-forecast {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}