.main__forecast__today-forecast {
    margin: auto;
    height: 70vh;
}

.actual-weather {
    width: 600px;
    top: -100px;
    position: relative;
}

.main__forecast__today-forecast p {
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.main__forecast__today-forecast .today-day {
    position: relative;
    top: 25px;
}

.main__forecast__today-forecast .today-climate {
    top: -250px;
    position: relative;
    font-size: 60px;
}

.main__forecast__today-forecast .today-status {
    position: relative;
    top: -300px;
}
