.header {
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 3;
}

.hd__apis{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.hd__location, .hd__date{
    height: 30px;
    width: auto;
    color: white;
}
.hd__location{
    margin-left: 300px;
}
.hd__date{
    margin-right: 50px;
}

*:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
#menu {
    display: block;
}
.image{
    width: 30px;
    height: 25px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
}
